<sui-modal
[mustScroll]="true"
[isClosable]="false"
[transitionDuration]="0"
[size]="'normal'"
class="sb-modal"
(dismissed)="closeModal();"
[appTelemetryImpression]="telemetryImpression"
#userLocationModal *ngIf='hrmsIDPopup'>

<!--Header-->
<i class="close icon" (click)="back()"></i>
<div class="sb-modal-header">
Enter HRMS ID
</div>
<!--/Header-->
<!--Content-->
<div class="sb-modal-content o-y-visible" [appTelemetryImpression]="telemetryImpression">
<form class="sb-form" [formGroup]="userHrmsIdForm" id="validateFoem">
  <div class="sb-field">
    <div class="required field mb-4">
            <label class="mb-10 font-weight-bold">HRMS Id<span class="sb-color-warning">*</span></label>
            <input class="sb-form-control" formControlName="addHrmsId"  aria-label="Enter HRMS ID" type="text" name="addHrmsId"
            placeholder="HRMS Id" autofocus>
            <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userHrmsIdForm.controls.addHrmsId.invalid && userHrmsIdForm.controls['addHrmsId'].errors.required && !userHrmsIdForm.controls['addHrmsId'].pristine">
            Enter HRMS Id
            </div>
                    
      </div>
  </div>




</form>
</div>
<!--/Content-->

<!--Actions-->
<div class="sb-modal-actions">
<button  class="sb-btn sb-btn-primary sb-btn-normal flex-ai-jc-center" type="button"
[disabled]="!userHrmsIdForm.valid || disableBtn" [ngClass]="{'sb-btn-disabled': !userHrmsIdForm.valid}"
(click)="hrmsIdSubmit()">
Submit
</button>


</div>
<!--/Actions-->

</sui-modal>



<sui-modal
[mustScroll]="true"
[isClosable]="false"
[transitionDuration]="0"
[size]="'normal'"
class="sb-modal"
(dismissed)="closeModal();"
[appTelemetryImpression]="telemetryImpression"
#userLocationModal *ngIf='genericPoup'>

<!--Header-->
<i class="close icon" (click)="back()"></i>
<div class="sb-modal-header">
Message
</div>
<!--/Header-->

<!--Content-->
<div class="sb-modal-content o-y-visible font-align" [appTelemetryImpression]="telemetryImpression">
 {{genericMsg}}
</div>

<!--/Actions-->

</sui-modal>




<sui-modal
[mustScroll]="true"
[isClosable]="false"
[transitionDuration]="0"
[size]="'normal'"
class="sb-modal"
(dismissed)="closeModal();"
[appTelemetryImpression]="telemetryImpression"
#userLocationModal *ngIf='userRegForm'>

<!--Header-->
<i class="close icon" (click)="back()"></i>
<div class="sb-modal-header">
Create User
</div>
<!--/Header-->

<!--Content-->
<div class="sb-modal-content o-y-visible" [appTelemetryImpression]="telemetryImpression">
<form class="sb-form" [formGroup]="userRegistration" id="validateFoem">
 <!-- <p class="mb-8">Create User</p>-->
 <!--<div class="d-flex align-items-center">
<div class="sb-field d-inline-block">
  <div class="required field mb-4">
      <label class="mb-10 font-weight-bold">Mobile Number<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="mobileNumber" aria-label="Enter Name" type="text" name="mobileNumber"
                placeholder="Mobile Number">
    </div>
</div>


<div class="sb-field d-inline-block">
  <div class="required field mb-4">
      <label class="mb-10 font-weight-bold">Email ID<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="mobileNumber" aria-label="Enter Name" type="text" name="mobileNumber"
                placeholder="Mobile Number">
    </div>
</div>
</div>-->

<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">HRMS ID/Employee ID<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="hrmsID" [attr.disabled]="hrmsIdDataCheck? true : null"   [(ngModel)]="hrmsData.HRMS_ID"  aria-label="Enter Joining Date" type="text"  name="hrmsID"
                placeholder="HRMS ID/Employee ID" autofocus>

                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.hrmsID.invalid && userRegistration.controls['hrmsID'].errors.required  && !userRegistration.controls['hrmsID'].pristine">
                  Enter hrms id/employee id
                </div>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('hrmsID').hasError('pattern')">
                   Only alphanumeric is allowed
                </div>
    </div>
   
</div>


<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Full Name<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="fName" aria-label="Enter Name" type="text" [(ngModel)]="hrmsData.EMP_NAME"  [attr.disabled]="editName? true : null"  name="fName"
                placeholder="First Name" autofocus>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.fName.invalid && userRegistration.controls['fName'].errors.required  && !userRegistration.controls['fName'].pristine">
                  Enter User Name
                </div>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('fName').hasError('pattern')">
                   Only alphabet is allowed
                </div>
    </div>
</div>





<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">DOB<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="dob" aria-label="Enter DOB" type="date" name="dob"
                placeholder="DOB" autofocus>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.dob.invalid && userRegistration.controls['dob'].errors.required  && !userRegistration.controls['dob'].pristine">
                  Enter DOB
                </div>
    </div>
</div>

<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Gender<span class="sb-color-warning">*</span></label>
               <select  class="selection sb-form-control" formControlName="gender" [(ngModel)]="hrmsData.GENDER" [attr.disabled]="genderData? true : null">
                  <option value="null">Select Gender</option>
                  <option  value="MALE">Male</option>  
                  <option  value="FEMALE">Female</option>  
                  <option  value="OTHERS">Others</option> 
                </select>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.gender.invalid && userRegistration.controls['gender'].errors.required  && !userRegistration.controls['gender'].pristine">
                  Select gender
                </div>
    </div>
</div>


<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Joining Date<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="joinDate" aria-label="Enter Joining Date" type="date" name="joinDate"
                placeholder="Joining Date" autofocus>

                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.gender.invalid && userRegistration.controls['gender'].errors.required  && !userRegistration.controls['gender'].pristine">
                  Enter Joining Date
                   </div>
    </div>
</div>

<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">CFMS ID<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="cfmsID" [(ngModel)]="hrmsData.CFMS_ID"  aria-label="Enter CFMS ID" type="text" [attr.disabled]="cfmsID? true : null"  name="cfmsID"
                placeholder="CFMS ID" autofocus>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.cfmsID.invalid && userRegistration.controls['cfmsID'].errors.required  && !userRegistration.controls['cfmsID'].pristine">
                  Enter cfms id
                </div>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('cfmsID').hasError('pattern')">
                   Only alphanumeric is allowed
                </div>
    </div>
    </div>



<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Secretariat Name<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control"  [attr.disabled]="secName? true : null"  [(ngModel)]="hrmsData.SECRETARIAT_NAME"  formControlName="secName" aria-label="Enter Secretariat Name" type="text" name="secName"
                placeholder="Secretariat Name" autofocus>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.secName.invalid && userRegistration.controls['secName'].errors.required  && !userRegistration.controls['secName'].pristine">
                  Enter secretariat name
                </div>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('secName').hasError('pattern')">
                   Only alphanumeric is allowed
                </div>
    </div>
</div>


<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Secretariat Code<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="secCode" [attr.disabled]="secCode? true : null"  [(ngModel)]="hrmsData.SECRETARIAT_CODE"  aria-label="Enter Secretariat Code" type="text" name="secCode"
                placeholder="Secretariat Code" autofocus>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.secCode.invalid && userRegistration.controls['secCode'].errors.required  && !userRegistration.controls['secCode'].pristine">
                  Enter secretariat code
                </div>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('secCode').hasError('pattern')">
                   Only alphanumeric is allowed
                </div>
    </div>
</div>








<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">District<span class="sb-color-warning">*</span></label>
              <!--<input class="sb-form-control" formControlName="district"  [attr.disabled]=districtName  [(ngModel)]="hrmsData.DISTRICT_NAME" aria-label="Enter District" type="text" name="district"
                placeholder="District:" autofocus>-->


                <select  class="selection sb-form-control" formControlName="district"  (change)="onChange($event.target.value)" >
                  <option value="null">Select District</option>
                  <option *ngFor="let dataObj of districtList" [value]="dataObj.districtName">{{dataObj.districtVal}}</option>  
                </select>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.district.invalid && userRegistration.controls['district'].errors.required  && !userRegistration.controls['district'].pristine">
                  Select District
                </div>
    </div>
</div>


<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Revenue Division<span class="sb-color-warning">*</span></label>
              <!--<input class="sb-form-control" formControlName="revDiv"  aria-label="Enter Revenue Division" type="text" name="revDiv"
                placeholder="Revenue Division" autofocus>-->


                <select  class="selection sb-form-control" formControlName="revDiv" (change)="onChange1($event.target.value)" >
                  <option value="null">Select Revenue Division</option>
                  <option *ngFor="let dataObj of divList" [value]="dataObj.divName">{{dataObj.divVal}}</option>  
                </select>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.revDiv.invalid && userRegistration.controls['revDiv'].errors.required  && !userRegistration.controls['revDiv'].pristine">
                  Select Revenue Division
                </div>
    </div>
</div>



<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Mandal/ULB<span class="sb-color-warning">*</span></label>
             <!--- <input class="sb-form-control" formControlName="mandalULB" [attr.disabled]=mandalName  [(ngModel)]="hrmsData.MANDAL_NAME" aria-label="Enter Mandal/ULB" type="text" name="mandalULB"
                placeholder="Mandal/ULB" autofocus>-->


                <select  class="selection sb-form-control" formControlName="mandalULB" (onChange)="handleSelectChangeRevDiv(event)" >
                  <option value="null">Select Mandal/ULB</option>
                  <option *ngFor="let dataObj of mandalListNew" [value]="dataObj.mandalNamedata">{{dataObj.mnadalValData}}</option>  
                </select>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.mandalULB.invalid && userRegistration.controls['mandalULB'].errors.required  && !userRegistration.controls['mandalULB'].pristine">
                  Select mandal/uLB
                </div>
    </div>
</div>





  <div class="sb-field">
    <div class="required field mb-4">
        <label class="mb-10 font-weight-bold">Mobile Number<span class="sb-color-warning">*</span></label>
                <input class="sb-form-control" [attr.disabled]="editMobile? true : null" formControlName="mobileNumber" [(ngModel)]="hrmsData.MOBILE"  aria-label="Enter Name" type="text" name="mobileNumber"
                  placeholder="Mobile Number" autofocus>

                  <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.mobileNumber.invalid && userRegistration.controls['mobileNumber'].errors.required && !userRegistration.controls['mobileNumber'].pristine">
                      Enter mobile no
                    </div>
                    <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('mobileNumber').hasError('pattern')">
                      Enter correct mobile no
                    </div>
      </div>
  </div>


  <div class="sb-field">
    <div class="required field mb-4">
        <label class="mb-10 font-weight-bold">Email ID<span class="sb-color-warning">*</span></label>
                <input class="sb-form-control" formControlName="emailId" aria-label="Enter Email Id" type="text" [(ngModel)]="hrmsData.EMP_MAIL_ID"  name="emailId"
                  placeholder="Email ID"  [attr.disabled]="emailIdDataCheck? true : null" autofocus>
                  <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.emailId.invalid && userRegistration.controls['emailId'].errors.required && !userRegistration.controls['emailId'].pristine">
                      Enter email id
                    </div>
                    <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('emailId').hasError('pattern')">
                     Enter correct email id
                    </div>
      </div>
  </div>






<!--<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Last Name</label>
              <input class="sb-form-control" formControlName="lName" aria-label="Enter Last Name" type="text" name="lName"
                placeholder="Last Name" autofocus>
          
    </div>
</div>-->

<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Password (Minimum 8 characters is allowed)<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="password" aria-label="Enter Password" type="password" 
                placeholder="Password" autofocus>
        
              <div *ngIf="userRegistration.controls.password.touched && userRegistration.controls.password.invalid">
                <div *ngIf="userRegistration.controls.password.errors.required" class="mt-0 mb-8 ui pointing red basic label below">Password is required.</div>
            </div>
                
    </div>
</div>


<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Confirm Password (Minimum 8 characters is allowed)<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="confirmpassword" aria-label="Enter Confirm Password" type="password" name="confirmpassword"
                placeholder="Confirm Password" autofocus>
          

            <div *ngIf="userRegistration.controls.confirmpassword.touched && userRegistration.controls.confirmpassword.invalid">
              <div *ngIf="userRegistration.controls.confirmpassword.errors.required" class="mt-0 mb-8 ui pointing red basic label below">Confirm Password is required.</div>
              <div *ngIf="userRegistration.controls.confirmpassword.errors.confirmedValidator" class="mt-0 mb-8 ui pointing red basic label below">Password and Confirm Password must be match.</div>
          </div>
                
               
    </div>
</div>



<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Education<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="education" aria-label="Enter Education" [(ngModel)]="hrmsData.QUALIFICATION" [attr.disabled]="qualificationlist? true : null"  type="text" name="education"
                placeholder="Education" autofocus>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.education.invalid && userRegistration.controls['education'].errors.required  && !userRegistration.controls['education'].pristine">
                  Enter Education
                </div>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('education').hasError('pattern')">
                   Only alphabet is allowed
                </div>
    </div>
</div>

<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Job Profile<span class="sb-color-warning">*</span></label>
              <input class="sb-form-control" formControlName="jobName" aria-label="Enter Job Profile" [(ngModel)]="hrmsData.DESIGNATION"  [attr.disabled]="designation? true : null" type="text" name="jobName"
                placeholder="Job Profile">
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.jobName.invalid && userRegistration.controls['jobName'].errors.required  && !userRegistration.controls['jobName'].pristine">
                  Enter Job Profile
                </div>
                <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.get('jobName').hasError('pattern')">
                   Only alphanumeric is allowed
                </div>
    </div>
</div>

<!--<div class="sb-field">
  <div class="required field mb-8">
      <label class="mb-10 font-weight-bold">Department Name<span class="sb-color-warning">*</span></label>-->
            

               <!--- <sui-select class="selection sb-form-control" formControlName="orgName" [options]="orgNameList"
                [placeholder]="'Select Department Name'" labelField="orgName" valueField="orgName" #orgName> 
                <sui-select-option *ngFor="let channel of orgName.filteredOptions" [value]="channel">
                </sui-select-option>
              </sui-select>-->



             <!---- <select  class="selection sb-form-control" formControlName="orgName">
                <option value="null">Select Department</option>
                <option *ngFor="let dataObj of orgNameList" [value]="dataObj.channel">{{dataObj.orgName}}</option>  
              </select>
              <div class="mt-0 mb-8 ui pointing red basic label below" *ngIf="userRegistration.controls.gender.invalid && userRegistration.controls['gender'].errors.required  && !userRegistration.controls['gender'].pristine">
               Enter department name
                </div>
    </div>
</div>-->








<input type="hidden" formControlName="designation" [(ngModel)]="hrmsData.DESIGNATION" />
<input type="hidden" formControlName="departmentap" [(ngModel)]="hrmsData.DEPARTMENT" />
<input type="hidden" formControlName="ageap" [(ngModel)]="hrmsData.AGE" />
<!--<input type="hidden" formControlName="qualification" [(ngModel)]="hrmsData.QUALIFICATION" />-->

</form>
</div>
<!--/Content-->

<!--Actions-->
<div class="sb-modal-actions">
<button  class="sb-btn sb-btn-primary sb-btn-normal flex-ai-jc-center" type="button"
[disabled]="!userRegistration.valid || disableBtn" [ngClass]="{'sb-btn-disabled': !userRegistration.valid}"
(click)="onSubmitForm()">
Submit
</button>


</div>
<!--/Actions-->

</sui-modal>

























<!--<div class="signup-background">
  
  
  
  
    <div class="fullpage-background-image">
      <div class="container-wrapper">
        <div class="text-center mb-24">
        
          <img class="image centered" alt={{tenantName}} height="56" src="{{logo}}">
        </div>
        <div *ngIf="showSignUpForm" [appTelemetryStart]="telemetryStart">-->
          <!--  don't remove comment <div *ngIf="telemetryImpression" [appTelemetryImpression]="telemetryImpression" class="fs-1 font-weight-bold mb-16 text-center">{{resourceService.frmelmnts.lbl.signUp}}</div> -->
          <!--<div *ngIf="telemetryImpression" [appTelemetryImpression]="telemetryImpression"
            class="title text-center">
            {{resourceService.frmelmnts.lbl.registerOn | interpolate:'{instance}': instance}}</div>
          <div class="year-birth my-16 required">
            <label class="mr-16">{{resourceService.frmelmnts?.lbl?.yearOfBirth}}<span class="sb-color-red">*</span></label>
           <label> <sui-select class="selection" [options]="birthYearOptions" placeholder="{{resourceService.frmelmnts?.lbl?.year}}"
                        (selectedOptionChange)="changeBirthYear($event)"
                        #select>
              <sui-select-option *ngFor="let option of select.filteredOptions"
                                 [value]="option">
              </sui-select-option>
            </sui-select></label>
          </div>
          <form class="ui form borderd" [ngClass]="{'Off':disableForm, 'On':!disableForm}" [formGroup]="signUpForm" autocomplete="off" id="signUpForm">
            <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.name.touched && signUpForm.controls['name'].errors && signUpForm.controls['name'].errors.required">{{resourceService.frmelmnts?.lbl?.enterName}}</label>
            <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.name.touched && signUpForm.controls['name'].errors && signUpForm.controls['name'].errors.pattern">{{resourceService.frmelmnts.lbl.enterValidName}}</label>
            <div class="required field mb-8">
              <label class="mb-10 font-weight-bold" *ngIf="!(signUpForm.controls.name.touched && signUpForm.controls['name'].errors)">{{resourceService.frmelmnts?.lbl?.name}}</label>
              <label for="signup-form-name" class="hide">{{resourceService.frmelmnts?.lbl?.name}}</label>
              <input id="signup-form-name" class="sb-form-control" [ngClass]="{'orange-border': signUpForm.controls.name.touched && signUpForm.controls['name'].errors}" formControlName="name"
                type="text" name="name" placeholder="{{resourceService.frmelmnts?.lbl?.name}}">
            </div>
            <div class="required field mb-16"
                 *ngIf="!(signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors) && !(signUpForm.controls.email.touched && signUpForm.controls['email'].errors) && !showUniqueError">
              <label id="phoneOrEmail" class="pt-0 font-weight-bold">
                {{resourceService.frmelmnts.lbl.phoneOrEmail}}
                <span *ngIf="isMinor">{{resourceService.frmelmnts?.lbl?.parentOrGuardian}}</span>
              </label>
            </div>
            <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors">{{resourceService.frmelmnts.lbl.validPhone}}</label>
            <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.email.touched && signUpForm.controls['email'].errors">{{resourceService.frmelmnts.lbl.validEmail}}</label>
            <label class="ui basic blue error label pt-0" *ngIf="showUniqueError && !(signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors) && !(signUpForm.controls.email.touched && signUpForm.controls['email'].errors)">{{showUniqueError}}</label>
            <div class="inline fields mt-10 mb-10" id="Mandatory">
              <div class="field">
                <div class="ui radio checkbox" (click)="showContact='phone'">
                  <input class="sb-form-control" type="radio" checked="checked" value="phone" formControlName="contactType" role="phone" id="phoneNumber" aria-labelledby="Mandatory">
                  <label for="phoneNumber" class="pl-20">{{resourceService.frmelmnts.lbl.phoneNumber}}</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox" (click)="showContact='email'">
                  <input class="sb-form-control" type="radio" formControlName="contactType" value="email" role="email" id="email" aria-labelledby="Mandatory">
                  <label for="email" class="pl-20">{{resourceService.frmelmnts.lbl.email}}</label>
                </div>
              </div>
            </div>
            <div>
              <label class="mb-10 font-weight-bold">{{resourceService.frmelmnts.lbl.OTPmsgforuser}}</label>
            </div>
            <div class="field" *ngIf="showContact === 'email'">
              <input class="sb-form-control" type="email" [ngClass]="{'orange-border': signUpForm.controls.email.touched && signUpForm.controls['email'].errors}"
                formControlName="email" name="email" placeholder="{{resourceService.frmelmnts.lbl.email}}" (blur)="getReCaptchaToken('email')">
            </div>
            <div class="field" *ngIf="showContact === 'phone'">
              <div class="ui left icon input">
                <label for="signup-form-phone" class="hide">{{resourceService.frmelmnts.lbl.tenDigitPhone}}</label>
                <input id="signup-form-phone" class="sb-form-control" [ngClass]="{'orange-border': signUpForm.controls.phone.touched && signUpForm.controls['phone'].errors}" formControlName="phone"
                  type="number" name="phone" placeholder="{{resourceService.frmelmnts.lbl.tenDigitPhone}}" (blur)="getReCaptchaToken('phone')">
                <i class=" icon">+91-</i>
              </div>
            </div>
            <div class="required field mb-16">
              <label class="mb-10 font-weight-bold">{{resourceService.frmelmnts.lbl.password}}</label>
              <div class="ui icon input">
                <label for="signup-form-password" class="hide">{{resourceService.frmelmnts.lbl.EnterPassword}}</label>
                <input id="signup-form-password" class="sb-form-control" [ngClass]="{'orange-border': signUpForm.controls.password.touched && signUpForm.controls['password'].errors}" [type]="showPassword ? 'text' : 'password'"
                  formControlName="password" name="password" placeholder="{{resourceService.frmelmnts.lbl.EnterPassword}}">-->
                <!--  don't remov coment <i class="icon large sb-icon-preview link opacity-1" (click)="displayPassword()"></i> -->
                 <!--  <img class="password-showhideimage" src="{{ showPassword ? 'assets/images/password-hidden.svg' : 'assets/images/password-visibile.svg'}}" alt="show-password.svg" (click)="displayPassword()">
              </div>
              <label class="ui basic label pt-8 p-0 m-0 infotext line-height-1-3" [ngClass]="{'error': ((signUpForm.controls.password.touched && signUpForm.controls['password'].errors))}">{{passwordError}}</label>
            </div>
            <label class="ui basic blue error label pt-0" *ngIf="signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors">{{resourceService.frmelmnts.lbl.errorConfirmPassword}}</label>
            <div class="required field mb-16">
              <label class="mb-10 font-weight-bold" *ngIf="!(signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors)">{{resourceService.frmelmnts.lbl.confirmPassword}}</label>
              <label for="signup-form-confirmPassword" class="hide">{{resourceService.frmelmnts.lbl.reEnterPassword}}</label>
              <input id="signup-form-confirmPassword" class="sb-form-control" [ngClass]="{'orange-border': signUpForm.controls.confirmPassword.touched && signUpForm.controls['confirmPassword'].errors}"
                formControlName="confirmPassword" type="password" name="confirmPassword" placeholder="{{resourceService.frmelmnts.lbl.reEnterPassword}}">
            </div>
            <div class="sb-requirement-field mb-8 font-weight-bold">
              {{resourceService.frmelmnts.lbl.fieldsmarked}}<span class="sb-error">*</span>{{resourceService.frmelmnts.lbl.mandatory  }}
          </div>-->
            <!-- don't remove comment  Google invisible recaptcha -->
            <!-- <re-captcha *ngIf="isP1CaptchaEnabled === 'true'" #captchaRef="reCaptcha" (resolved)="$event && resolved($event) && captchaRef.reset()" siteKey="{{googleCaptchaSiteKey}}" size="invisible"></re-captcha>
            <div class="required sb-checkbox sb-checkbox-primary sb-field mt-16">
              <input type="checkbox" id="tncAccepted" role="checkbox" (click)="generateTelemetry($event)"
                     formControlName="tncAccepted" name="tncAccepted">
              <label for="tncAccepted" class="fsmall mr-0">{{resourceService?.frmelmnts?.lbl?.tncLabel}}
                <a class="text-underline fsmall" href="javascript:void(0)" (click)="showAndHidePopup(true)">
                {{resourceService?.frmelmnts?.lbl?.tncLabelLink | interpolate:'{instance}': instance}}
              </a>
            </label>
            </div>

          </form>
          <button appTelemetryInteract [telemetryInteractEdata]="submitInteractEdata"  [telemetryInteractCdata]="telemetryCdata" [ngClass]="{'sb-btn-disabled':disableSubmitBtn, 'sb-btn-primary':!disableSubmitBtn}" class="sb-btn sb-btn-normal width-100 mt-10" tabindex="0"
            (click)="submitSignupForm()" [disabled]="disableSubmitBtn"  >{{resourceService.frmelmnts.lbl.signUp}}</button>
          <a (click)="captchaRef.reset()" id="resetGoogleCaptcha"></a>
        </div>
        <div *ngIf="!showSignUpForm">
          <app-otp [isMinor]="isMinor" [signUpdata]="signUpForm" [tncLatestVersion]="tncLatestVersion" (redirectToParent)="showParentForm($event)"></app-otp>
        </div>
      </div>
    </div>
  </div>
  <app-tnc-popup (close)="showAndHidePopup(false)" [tncUrl]="termsAndConditionLink" #termsAndCondPopUp *ngIf="showTncPopup">
  </app-tnc-popup>  -->
