@import "variables";
@import "mixins/mixins";
@import "layout/header";

.sb-header-bg{
  background: var(--sb-header-bg) !important;
}

.overlay-sidebar,
.overlay-sidebar__menu {
  position: fixed;
  top: 0;
  height: 100%;
}

.overlay-sidebar {
  width: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  display: block;
  z-index: 99999;
  background: rgba(var(--sbt-sidemenu-overlay-bg), 0.4); //--rc-rgba-black

  &__menu {
    width: calculateRem(400px);
    right: 0;
    background: var(--sbt-sidemenu-bg);
    z-index: 100000;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: calculateRem(-6px) 0 calculateRem(10px) 0 rgba(var(--rc-rgba-black), 0.1);
  }
}

.profile {
  &__info {
    padding: calculateRem(40px) calculateRem(16px) calculateRem(8px) calculateRem(16px);
    background-color: var(--sidebar-profil-header-bg);
    position: relative;

    .icon-close {
      position: absolute;
      top: calculateRem(16px);
      left: calculateRem(16px);
      cursor: pointer;
    }

    &__desc {
      padding: 0 0.5rem;
    }
  }

  &__actions {
    &__list {

      .list-item {
        margin: 0 0 0 0;
        padding: calculateRem(16px) calculateRem(20px);
        cursor: pointer;
        display: flex;
        align-items: center;
        color: var(--primary-color);
        a {
          padding: calculateRem(16px) calculateRem(20px);
          width: 100%;
          display: flex;
          align-items: center;
          &:hover {
            text-decoration: none;
          }
        }
        img {
          width: calculateRem(24px);
          height: calculateRem(24px);
          margin-right: calculateRem(8px);
        }

        &:hover,
        &.active {
          background-color: var(--sidebar-li-hover-bg);
        }
      }
    }
  }
}


.add-user {
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &__icon {
    width: calculateRem(32px);
    height: calculateRem(32px);
    display: inline-block;

    img {
      max-width: 100%;
    }
  }

  &__label {
    margin-top: calculateRem(9px);
  }

  &--horizontal {
    display: flex;
    align-items: center;
    padding: calculateRem(4px) calculateRem(16px);
    background-color: var(--rc-bfe1cf);

    .add-user__label {
      margin-top: 0;
      margin-left: calculateRem(8px);
    }
  }
}

.more-user {
  text-align: center;
  cursor: pointer;

  &__btn {
    width: calculateRem(32px);
    height: calculateRem(32px);
    background: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 calculateRem(3px) 0 rgba(var(--rc-rgba-black), 0.1);

    img {
      max-width: 100%;
    }
  }

  &__label {
    font-size: var(--font-size-base);
    ;
    margin-top: calculateRem(8px);
  }
}

.my-avatar ::ng-deep .avatar-content {
  background-color: var(--red) !important;
}

@include respond-below(sm) {
  .profile__info {
    // padding: calculateRem(16px);

    .icon-close {
      right: calculateRem(16px);
      left: unset;
      z-index: 9999;
    }

    .user {
      flex-wrap: wrap;
      margin-bottom: calculateRem(8px) !important;

      &__name {
        width: 100%;
        margin-left: 0 !important;
      }
    }

    &__desc {
      margin-bottom: calculateRem(8px) !important;
    }
  }
}

@include respond-below(xs) {
  .overlay-sidebar__menu {
    width: 88%;
    left: 0;
    right: unset;
  }
}

//sb member card styles from CC 
.sb-member {
  display: flex;
  align-items: center;
  cursor: pointer;

  // Size variations
  &--small {
    .sb-member__img {
      width: calculateRem(32px);
      height: calculateRem(32px);
      font-size: calculateRem(20px);
    }

    .sb-member__name {
      font-size: calculateRem(14px);
    }
  }

  &--medium {
    .sb-member__img {
      width: calculateRem(48px);
      height: calculateRem(48px);
      font-size: calculateRem(34px);
    }

    .sb-member__name {
      font-size: calculateRem(16px);
    }
  }

  &--large {
    .sb-member__img {
      width: calculateRem(64px);
      height: calculateRem(64px);
      font-size: calculateRem(38px);
    }

    .sb-member__name {
      font-size: calculateRem(18px);
    }
  }

  // font weight bold and normal
  &--font-bold {
    .sb-member__name {
      font-weight: bold;
    }
  }

  // View variations
  &--horizontal {
    flex-direction: row;

    .sb-member__name {
      margin: 0 0 0 calculateRem(8px);
    }
  }

  &--vertical {
    flex-direction: column;

    .sb-member__name {
      margin: calculateRem(8px) 0 0 0;
      text-align: center;
    }
  }

  // avatar first letter
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0 0 calculateRem(6px) 0 rgba(var(--rc-rgba-black), 0.1);
    font-weight: bold;
  }

  // avatar name
  &__name {
    font-weight: normal;
    cursor: pointer;
  }

}

:host ::ng-deep {
  .group__type {
    margin-left: 1.5rem;
    background: var(--red-100);
    position: relative;
    height: 1.25rem;
    padding: 0 .25rem 0 0.5rem;
    color: var(--white);
    margin-right: -.5rem;
    font-size: .6875rem;
    display: flex;
    align-items: center;
    font-weight: normal;
    html[dir="rtl"] & {
      padding: 0 .5rem 0 0.25rem;
    }
  }
  
  .group__type:after {
    content: "";
    width: 0;
    height: 0;
    border-width: .625rem .3125rem;
    border-style: solid;
    border-color: var(--red-100) transparent var(--red-100) var(--red-100);
    position: absolute;
    right: -.625rem;
    html[dir="rtl"] & {
      left: -.6rem;
      right: inherit;
      transform: rotate(180deg);
    }
  }
}


__textbooks {
  -webkit-mask-image: url(/assets/images/mask-image/textbooks.svg);
  mask-image: url(/assets/images/mask-image/textbooks.svg);
}

:host ::ng-deep {
  @include respond-below(sm) {
    html[layout='joy'] {
      .sbt-dropdown-profile-area,
      app-language-dropdown {
        width: 100%;
      }
      .ui.selection.sbt-dropdown.dropdown {
        min-width: 100%;
      }
    }
  }
}

.sbt-logo {
  height: calculateRem(80px);
  display:flex;
  align-items: center;
  img {
    min-height: 65%;
    height: 80%;
  }
}

.sb-load-content-btn{
  line-height: 0.5;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
	}
	body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;

	}

	a {
	color: #50b5ff;
	text-decoration: none;
	background-color: transparent
	}

	a:hover {
	color: #0056b3;
	text-decoration: none
	}

	a:not([href]) {
	color: inherit;
	text-decoration: none
	}

	a:not([href]):hover {
	color: inherit;
	text-decoration: none
	}

	.topnav {
	overflow: hidden;

	}

	.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	}

	
	.topnav .search-container {
	float: right;
	}

	.topnav input[type=text] {
	padding: 2px;
    margin-top: 17px;
	font-size: 17px;
	border: none;
	width: 171px;
	background-color:#fbf5f5;
	margin-left: 24px;
	}

	.topnav .search-container button {
	float: right;
	padding: 2px 10px;
	margin-top: 17px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	}

	.topnav .search-container button:hover {
	background: #ccc;
	}
	.btn-width {
	width: 77px;
	}
	

	.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}
	.btn-primary {
	color: #fdfdfd;
	text-align: center;
	background-color: transparent;
	border: 2px solid #288239;
	border-radius: 7px;
	margin-top: 5px;
	/* font-size: 12px; */
	font-weight: 600;
	
	}

	p.explore {
	float: right;
	padding: 4px 50px 0;
	margin: 0;
	}


	
	


	.d-none {
	display: none!important
	}

	.d-inline {
	display: inline!important
	}

	.d-inline-block {
	display: inline-block!important
	}

	.d-block {
	display: block!important
	}

	.d-table {
	display: table!important
	}

	.d-table-row {
	display: table-row!important
	}

	.d-table-cell {
	display: table-cell!important
	}

	.d-flex {
	display: -ms-flexbox!important;
	display: flex!important
	}

	.d-inline-flex {
	display: -ms-inline-flexbox!important;
	display: inline-flex!important
	}

	@media (min-width:768px) {
	.d-md-none {
	display: none!important
	}
	.d-md-inline {
	display: inline!important
	}
	.d-md-inline-block {
	display: inline-block!important
	}
	.d-md-block {
	display: block!important
	}
	.d-md-table {
	display: table!important
	}
	.d-md-table-row {
	display: table-row!important
	}
	.d-md-table-cell {
	display: table-cell!important
	}
	.d-md-flex {
	display: -ms-flexbox!important;
	display: flex!important
	}
	.d-md-inline-flex {
	display: -ms-inline-flexbox!important;
	display: inline-flex!important
	}
	}



	.justify-content-start {
	-ms-flex-pack: start!important;
	justify-content: flex-start!important
	}

	.justify-content-end {
	-ms-flex-pack: end!important;
	justify-content: flex-end!important
	}

	.justify-content-center {
	-ms-flex-pack: center!important;
	justify-content: center!important
	}

	.justify-content-between {
	-ms-flex-pack: justify!important;
	justify-content: space-between!important
	}

	.justify-content-around {
	-ms-flex-pack: distribute!important;
	justify-content: space-around!important
	}



	.justify-content-md-start {
	-ms-flex-pack: start!important;
	justify-content: flex-start!important
	}
	.justify-content-md-end {
	-ms-flex-pack: end!important;
	justify-content: flex-end!important
	}
	.justify-content-md-center {
	-ms-flex-pack: center!important;
	justify-content: center!important
	}
	.justify-content-md-between {
	-ms-flex-pack: justify!important;
	justify-content: space-between!important
	}
	.justify-content-md-around {
	-ms-flex-pack: distribute!important;
	justify-content: space-around!important
	}
	
	.flex-lg-fill {
	-ms-flex: 1 1 auto!important;
	flex: 1 1 auto!important
	}
	.flex-lg-grow-0 {
	-ms-flex-positive: 0!important;
	flex-grow: 0!important
	}
	.flex-lg-grow-1 {
	-ms-flex-positive: 1!important;
	flex-grow: 1!important
	}
	.flex-lg-shrink-0 {
	-ms-flex-negative: 0!important;
	flex-shrink: 0!important
	}
	.flex-lg-shrink-1 {
	-ms-flex-negative: 1!important;
	flex-shrink: 1!important
	}
	.justify-content-lg-start {
	-ms-flex-pack: start!important;
	justify-content: flex-start!important
	}
	.justify-content-lg-end {
	-ms-flex-pack: end!important;
	justify-content: flex-end!important
	}
	.justify-content-lg-center {
	-ms-flex-pack: center!important;
	justify-content: center!important
	}
	.justify-content-lg-between {
	-ms-flex-pack: justify!important;
	justify-content: space-between!important
	}
	.justify-content-lg-around {
	-ms-flex-pack: distribute!important;
	justify-content: space-around!important
	}
	.align-items-lg-start {
	-ms-flex-align: start!important;
	align-items: flex-start!important
	}
	.align-items-lg-end {
	-ms-flex-align: end!important;
	align-items: flex-end!important
	}
	.align-items-lg-center {
	-ms-flex-align: center!important;
	align-items: center!important
	}
	.align-items-lg-baseline {
	-ms-flex-align: baseline!important;
	align-items: baseline!important
	}
	.align-items-lg-stretch {
	-ms-flex-align: stretch!important;
	align-items: stretch!important
	}
	.align-content-lg-start {
	-ms-flex-line-pack: start!important;
	align-content: flex-start!important
	}
	.align-content-lg-end {
	-ms-flex-line-pack: end!important;
	align-content: flex-end!important
	}
	.align-content-lg-center {
	-ms-flex-line-pack: center!important;
	align-content: center!important
	}
	.align-content-lg-between {
	-ms-flex-line-pack: justify!important;
	align-content: space-between!important
	}
	.align-content-lg-around {
	-ms-flex-line-pack: distribute!important;
	align-content: space-around!important
	}
	.align-content-lg-stretch {
	-ms-flex-line-pack: stretch!important;
	align-content: stretch!important
	}
	.align-self-lg-auto {
	-ms-flex-item-align: auto!important;
	align-self: auto!important
	}
	.align-self-lg-start {
	-ms-flex-item-align: start!important;
	align-self: flex-start!important
	}
	.align-self-lg-end {
	-ms-flex-item-align: end!important;
	align-self: flex-end!important
	}
	.align-self-lg-center {
	-ms-flex-item-align: center!important;
	align-self: center!important
	}
	.align-self-lg-baseline {
	-ms-flex-item-align: baseline!important;
	align-self: baseline!important
	}
	.align-self-lg-stretch {
	-ms-flex-item-align: stretch!important;
	align-self: stretch!important
	}
	

	html {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column; }

	body {
	min-height: 87vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex: 1;
	flex: 1; }

	.page-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 1.25rem 0.625rem;
	padding-top: 2.5rem; }
	@media (min-width: 768px) {
	.page-content:not(.container) {
	padding-left: 1rem;
	padding-right: 1rem; } }
	@media (min-width: 1200px) {
	.page-content:not(.container) {
	padding-left: 1.375rem;
	padding-right: 1.375rem; } }

	.content-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex: 1;
	flex: 1;
	overflow: auto; }

	.content {
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-left: 0.625rem;
	margin-right: 0.625rem; }
	.content::after {
	display: block;
	clear: both;
	content: ""; }

	/* ------------------------------------------------------------------------------
	*
	*  # Page header
	*
	*  Page header components and color options
	*
	* ---------------------------------------------------------------------------- */
	.page-header {
	position: relative; }

	.page-title {
	padding: 0rem 0;
	position: relative; }
	.page-title small {
	display: inline-block;
	margin-left: 0.625rem; }
	.page-title small:before {
	content: '/';
	margin-right: 0.875rem; }
	.page-title small.d-block {
	margin-left: 0; }
	.page-title small.d-block:before {
	content: none; }
	.page-title small.d-block,
	.page-title .breadcrumb {
	margin-left: 1.875rem; }
	.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
	margin: 0; }
	.page-title .logo {
	background-color: #fff;
	border-radius: 50%;
	margin-left:10px;
	}

	.page-header-content {
	position: relative;
	padding: 0 1.25rem; }
	.page-header-content[class*=border-bottom-] + .breadcrumb-line {
	border-top: 0; }
	@media (min-width: 768px) {
	.page-header-content {
    padding-left: 3.625rem;
    padding-right: 1.625rem; } }
	// @media (min-width: 1200px) {
	// .page-header-content {
	// padding-left: 4em;
	// padding-right: 2rem; } }


	.page-header-dark {
	background-color: #273246;
	color: #fff; }
	.page-header-dark.has-cover {

	background-size: cover; }

	.page-header-light,
	.page-header-dark {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
	.page-header-light .breadcrumb-line:not(.breadcrumb-line-component):last-child,
	.page-header-dark .breadcrumb-line:not(.breadcrumb-line-component):last-child {
	box-shadow: none; }

	.page-title h2 {
	font-size: 30px;
	margin-left: 10px;
	font-family: Rubik-Medium;
	margin-top: 10px;
	}

	body {


	background-size: cover;
	position: relative;
	}
	.content-wrapper {
	overflow: hidden;
	}

	.form-control {
	border-radius: 30px;
	}
	.sb-search-box.sb-search-box-sec{border-radius: 0.1875rem!important;}
	.sb-search-box.sb-search-box-sec .sb-search-box.sb-search-input{height:auto!important;border-radius: 0.1875rem 0 0 0.1875rem!important;max-width:150px;}
	.sb-search-box.sb-search-box-sec .sb-search-box.icon.search{top: 0.5rem!important;}
.sb-search-box.sb-search-box-sec .sb-btn-normal{height: auto !important;
	border-radius: 0 0.1875rem 0.1875rem 0 !important;
	padding: 0.65rem 1rem!important;
	background: #edf4f9!important;
	color: #024f9d;}
/*
.sb-search-box .sb-search-input{border-radius:0.1875rem 0 0 0.1875rem!important}
.sb-btn-md {
    height: 2rem;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}
.sb-search-box .sb-btn{
    float: right;
    margin-top: -32px!important;
}
.sb-search-box .icon.search {
    top: 0.5rem!important;
}
*/
		
		
		
		
		
		
		