
.ui.input {
    position: relative;
    font-weight: 400;
    font-style: normal;
    display: inline-flex;
    color: rgba(0,0,0,.87);
    /* font-size: 1em; */
}

.ui.small.input {
    font-size: .92857143em;
}

.twelve span b{
    padding: 5px 6px;
    background-color:#024f9d;
    border-radius: 50%;
    border: none;
    color: #fff;
  }
  
  .text-right{
      float:right;
  }

  .heading
  {
    padding-top: 16px;
    padding-bottom: 16px;
}
.list-area
{
margin-left: -314px !important;
/* margin-bottom: -4px; */
align-items: left !important;
/* margin-left: -165px; */
float: left !important;
margin-top: -55px !important;
width: 294px !important; 
}



.abcd{
    width: 100%;
    height: 35px;
}
.font-align{
  padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: initial;
}
.margintop10{
    margin-top: 10px;
}

.editSelectPopup{min-height: 400px;}
.sbt-theme-right-flower{z-index: -1 !important;}


  