<div>
    <img  style="background-repeat: no-repeat;
    background-size: cover;
    width: 100%;" src="assets/images/bg11.jpg">
     <div class="bg-text">
         <h1 >Welcome to</h1>
            <h1 style="font-size:50px">Grama-Ward Sachivalayam</h1>
                    <h1 style="font-size:50px">Learning Portal</h1>
          </div>
      </div>			
  
<section id="about" class="wow fadeInUp" style="padding-top: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 content">
          <h2 class="border-btm">Latest<br>
            Courses</h2>
          <p>Access the latest knowledge on issues of urban importance </p>
          
           <!-- <div class="pull-left viewall">
           <a href="/explore-course" class="view">View All <i class="fa fa-long-arrow-right" aria-hidden="true" style="margin-left: 15px;"></i></a></div> -->
        </div>
        <div class="col-lg-10">
          <div class="container">
            <div id="demo3" class="carousel slide" data-ride="carousel"> 
              
              <!-- Indicators -->
              <ul class="carousel-indicators mb-0 pb-0">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              
              <!-- The slideshow -->
              <div class="carousel-inner no-padding" id="popularCourseSection"></div>
              <div class="row"><div class="col-md-12"><a class="carousel-control-prev" style="margin-right:5px;" href="#demo3" data-slide="prev">  <span class="sp" ><img style="height:50px;width:50px; border:none;" src="assets/images/arrowright.jpg"></span> </a> <a class="carousel-control-next" href="#demo3" data-slide="next"> <span class=" sp"><img style="height:50px;width:50px; border:none;" src="assets/images/arrowleft.jpg"> </span></a></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>